@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*{
    box-sizing: border-box;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100px;
    cursor: pointer;
}
#titulo{
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
    text-shadow:0 0 3px white ;
}
#marca{
    font-size: 4.5em;
    margin: 0 10px 10px 0;
    text-shadow: 0 0 3px white;
}
#area_Login{
    display: flex;
    justify-content: center;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 500px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.largura{
    width: 450px;
}
#enter{width: 250px;}

#enter, #inscrever{
    font-weight: bolder;
    border-radius: 80px;
    color: white;
    background-color: #0F8C3B;
}
#enter:hover{background-color: #21e465;}
#inscrever:hover{background-color: #3a3a3a;}

#area-enter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#area::after{
    content: "";
    display: block;
    height: 1px;
    margin: 15px 0 40px 0;
    background-color: black;
}
#container  h6{
    font-weight: bolder;
    margin-bottom: 20px;
}
@media(max-width: 1000px){
    #enter, #inscrever{
        background-color: #21e465;
    }
}
@media(max-width: 460px){
    #container, form{
        width: 300px;
    }
    .largura{
        width: 300px;
    }
    #area-enter{
        flex-direction: column;
    }
    #enter{
        width: auto;
    }
}
